[submodule "libfreenect2"]
	path = libfreenect2
	url = https://github.com/floe/libfreenect2.git
	branch = gstreamer
[submodule "external/Azure-Kinect-Sensor-SDK"]
	path = external/Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
