# Logitech C270
KERNEL=="video*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="0825", SYMLINK+="video-face"

# Logitech C920
KERNEL=="video*", ATTRS{idVendor}=="046d", ATTRS{idProduct}=="082d", SYMLINK+="video-surf"

# Samsung SUR40
KERNEL=="video*", ATTRS{idVendor}=="045e", ATTRS{idProduct}=="0775", SYMLINK+="video-surf"
